body {
    background-color : lightsteelblue;
    color: #666;
    padding-top: 30px;
}

form {
    border-top: 1px solid steelblue;
    margin-top: 25px;
    padding-top: 25px;
}

#canvasWrapper {
    text-align: center;
}

canvas {
    border: 1px solid steelblue;
}